<!doctype html>
<!-- 依照源GFashion网站为原型,以自己的的方式实现 -->
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="shortcut icon" href="{% static 'sun.ico' %}">
    <title>礼服租赁系统</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user_index/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_index/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_index/css/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_index/css/vice-index.css'%}">
</head>
<body>
<!-- 顶部条开始 -->
<div class="headerTop">
    <!-- 左侧 -->
    <div class="container clearfix">
        <div class="left">
            <!-- 字体图标 -->
            <div class="iconOuter ">
                <div class="icon-quill iconInner"></div>
            </div>
            <div class="vistorCount">+444 (100) 1234</div>
            <div class="openTime">(Mon- Fri: 09.00 - 21.00)</div>
        </div>
        <!-- 左侧结束 -->
        <!-- 搜索框 -->
        <!-- 搜索框 -->
    </div>
</div>
<!-- 顶部条结束 -->

<!-- 顶部logo+导航开始 -->
<nav class="navWrapper">
    <div class="navLogo">
        <a href="#"><img src="{% static 'user_index/img/logo.png' %}" alt=""></a>
    </div>
    <!-- 账户相关 -->
    <ul class="navAccount">
        <li>
            <ul>
                {% if username == False %}
                <!--功能没实现-->
                <li><a id="login" href="/user_login_view">登录</a></li>
                <li><a href="/user_register_view">注册</a></li>
                {% else %}
                <li><a id="welcome" href="javascript:;">欢迎您: {{ username }}</a></li>
                <li><a href="/">退出</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
    <!-- 登录login -->
    <iframe src="" frameborder="0"></iframe>
    <!-- /登录login -->

    <!-- 导航菜单 -->
    <div class="menu">
        <ul>
            <li><a href="/user_address">地址</a></li>
            <li><a href="/user_rent_flow">租赁流程</a></li>
            {% if username == False %}
            <li><a href="/user_login_view">个人信息</a></li>
            {% else %}
            <li><a href="/user_info_view">个人信息</a></li>
            {% endif %}
            <li><a href="#">首页</a></li>
        </ul>
    </div>
</nav>
<!-- 顶部logo+导航结束 -->

<!-- banner区 -->
<div id="banner">
    <!-- 图片区 -->
    <ul style="left:-1366px;" id="imgs">
        <li>
            <img src="img/03.jpg" alt="">
            <div id="third">
                <p class="top">FREE SHIPPING</p>
                <p class="bottom">ON ORDER OVER $2.000</p>
            </div>
        </li>
        <li>
            <img src="img/01.jpg" alt="">
            <div class="textContainer">
                <p class="top  activeTop">NEW COLLECTION</p>
                <p class="mid  activeMid">Aution Fashions</p>
                <div class="bottom activeBottom">
                    <p>Comfy knits and warm jackets for cooler Autumn days</p>
                    <a href="JavaScript:;">SHOP NOW</a>
                </div>
            </div>
        </li>
        <li>
            <div id="second">
                <p id="sale">SALE</p>
                <span class="left">
						<p class="top">MID</p>
						<p>SEASON</p>
					</span>
                <span class="right">
						<p class="top">UP TO</p>
						<p>70% OFF</p>
					</span>
                <p><i>500’</i>S OF NEW PRODUCTS</p>
            </div>
        </li>
        <li>
            <img src="img/03.jpg" alt="">
            <div id="third">
                <p class="top">FREE SHIPPING</p>
                <p class="bottom">ON ORDER OVER $2.000</p>
            </div>
        </li>
        <li>
            <img src="img/01.jpg" alt="">
            <div class="textContainer">
                <p class="top">NEW COLLECTION</p>
                <p class="mid">Aution Fashions</p>
                <div class="bottom">
                    <p>Comfy knits and warm jackets for cooler Autumn days</p>
                    <a href="JavaScript:;">SHOP NOW</a>
                </div>
            </div>
        </li>
    </ul>
    <!-- /图片区 -->
    <!-- 点选条区 -->
    <ol id="changeBar">
        <li><a href="javascript:;" class="active"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
    </ol>
    <!-- /点选条区 -->
    <!-- 左右切图 -->
    <div class="prev">
        <a href="javascript:;" id="prev" class="icon icon-arrow-left"></a>
    </div>
    <div class="next">
        <a href="javascript:;" id="next" class="icon icon-arrow-right"></a>
    </div>
    <!-- /左右切图 -->
</div>
<!-- /banner -->

<!-- 主内容区 -->
<div id="main">
    <ul>
        <li id="picLeft">
            <div id="coverUp">
                <h6>GFashion</h6>
            </div>
            <div id="coverDown">
                <h1>
                    <span class="left">SALE</span>
                    <span class="right">UP TO 35%</span>
                </h1>
                <h2>OFF</h2>
                <h3>SUMMER COLLECTION 2016</h3>
            </div>
        </li>
        <li id="picCenter">
            <div>
                <h4>New Arrivals</h4>
                <h5>LEATHER FASHION</h5>
                <p><span class="icon icon-play3">&nbsp;</span><a href="javascript:;">Shop Now</a></p>
            </div>
        </li>
        <li id="picLast">
            <h1>
                <span>FREE</span>
                <span class="textColor">SHIPPING</span>
            </h1>
            <h2>ON ODER OVER $2,000</h2>
        </li>
    </ul>
</div>
<!-- /主内容区 -->
<!-- 点击放大 -->
<div id="pictureCoverWrap">
    <div id="pictureCover">
        <span class="icon icon-shrink2" id="shrink"></span>
        <img src="img/images/women/basic/589550-0014_1.jpg" alt="">
    </div>
</div>
<!-- /点击放大 -->
<!-- 女装区 -->
<div class="showText">
    <!-- 头部文字 -->
    <div class="header">
        <h1>FEATURE PRODUCTS</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit ac lobortis lacus</h2>
    </div>
    <!-- /头部文字 -->
    <!-- 点击加载更多 -->
    <div class="circleChange width">
        <div class="leftBtn">
            <div class="icon icon-arrow-left2 womenPrev">
                <span><a href="JavaScript:;" class="icon icon-arrow-left2"></a></span>
            </div>
        </div>
        <div class="rightBtn">
            <div class="icon icon-arrow-right2 womenNext">
                <span><a href="JavaScript:;" class="icon icon-arrow-right2"></a></span>
            </div>
        </div>
    </div>
    <!--  /点击加载更多 -->
    <!-- 展示区图片 -->
    <div class="width women">
        <ul class="showCtnr" style="left:0px;">
            {% for women_cloth_obj in women_cloth_objs%}
            <li>
                <div class="showPic">
                    <div class="showCover">
                        <img src="/static/{{ women_cloth_obj.picture }} " alt="">
                        <div class="showHider">
                            <div class="magnifer icon icon-images" name="magnifer"></div>

                        </div>
                        <div id="showStar" name="showStar">
                            <ul id="starBg">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="showMsg">
                    <li>{{ women_cloth_obj.clothName }}</li>
                    <li class="msgMid">
                        <span class="priceLeft">¥ {{ women_cloth_obj.cloth_price }} </span>
                        <span class="priceRight">¥ {{ women_cloth_obj.rent_price }}</span>
                    </li>
                    {% if username == False %}
                    <a class="am-btn am-btn-warning" href="/user_login_view">
                        <i class="am-icon-shopping-cart"></i>
                        租赁
                    </a>
                    {% else %}
                    <a class="am-btn am-btn-warning" href="/user_order_view?id={{ women_cloth_obj.id }}">
                        <i class="am-icon-shopping-cart"></i>
                        租赁
                    </a>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /展示区图片 -->
</div>
<!-- /女装区 -->

<!-- 男装区 -->
<div class="showText">
    <!-- 头部文字 -->
    <div class="header">
        <h1>NEW ARRIVALS</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit ac lobortis lacus</h2>
    </div>
    <!-- /头部文字 -->
    <!-- 展示区切换按钮 -->
    <!-- /展示区切换按钮 -->
    <!-- 点击加载更多 -->
    <div class="menBtn icon icon-arrow-left2 menPrev">
        <div class="menBtn innerBtn">
        </div>
    </div>
    <div class="menBtn icon icon-arrow-right2 menNext">
        <div class="menBtn innerBtn">
        </div>
    </div>
    <!-- /点击加载更多 -->
    <!-- 展示区图片 -->
    <div class="width men">
        <ul class="showCtnr" style="left:0px;">
            {% for men_cloth_obj in men_cloth_objs%}
            <li>
                <div class="showPic">
                    <div class="showCover">
                        <img src="/static/{{ men_cloth_obj.picture }} " alt="">
                        <div class="showHider">
                            <div class="magnifer icon icon-images" name="magnifer"></div>
                        </div>
                        <div id="showStar" name="showStar">
                            <ul id="starBg">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div id="FaceWrapper" name="FaceWrapper">
                                <ul id="starFace">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="showMsg">
                    <li>{{ men_cloth_obj.clothName }}</li>
                    <li class="msgMid">
                        <span class="priceLeft">¥ {{ men_cloth_obj.cloth_price }}</span>
                        <span class="priceRight">¥ {{ men_cloth_obj.rent_price }}</span>
                    </li>
                    {% if username == False %}
                    <a class="am-btn am-btn-warning" href="/user_login_view">
                        <i class="am-icon-shopping-cart"></i>
                        租赁
                    </a>
                    {% else %}
                    <a class="am-btn am-btn-warning" href="/user_order_view?id={{ men_cloth_obj.id }}">
                        <i class="am-icon-shopping-cart"></i>
                        租赁
                    </a>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /展示区图片 -->
</div>
<!-- /男装区 -->


<!-- footer -->
<div class="width">
    <span><center>&copy; 2018 礼服租赁 LiuSu. All Rights Reserved.</center></span>
</div>
</body>
<!-- /footer -->
<link rel="stylesheet" href="{% static 'index/amazeui.min.css' %}"/>
<script type="text/javascript" src="{% static 'user_index/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'user_index/js/index.js' %}"></script>
</html>